@page "/add-new"
@inject IPizzaRepository PizzaRepository
@inject NavigationManager NavigationManager


<PageTitle>Add New Pizza</PageTitle>


<div class="row justify-content-center">
    <div class="col-6">
        
        <PizzaForm IsEditMode="false" OnValidPizzaSubmit="AddPizza" />

    </div>
</div>
@code {
    private async Task AddPizza(Pizza pizza)
    {
        await PizzaRepository.AddPizzaAsync(pizza);
        NavigationManager.NavigateTo("/");
    }

}
