
@if (Show)
{
    <div class="confirm-dialog-container">
        <div class="confirm-dialog">
          @*   <h3>
                Are you sure you want to delete this item?
            </h3> *@
            @ChildContent
            <div class="d-flex flex-row justify-content-end mt-3">
                <button @onclick="OnCancel" class="btn btn-secondary shadow-none">
                    Cancel
                </button>
                <button @onclick="OnOk" class="btn btn-danger shadow-none ms-3">
                    Delete
                </button>
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public bool Show { get; set; }

    [Parameter]
    public EventCallback OnCancel { get; set; }

    [Parameter]
    public EventCallback OnOk { get; set; }

    [Parameter]
    public RenderFragment ? ChildContent { get; set; }
}
