<div class="pizza-card">
    <div class="pizza-card-body" >
        <h5>@Pizza.Name</h5>
        <p> @Pizza.Price.ToString("C")</p>
        <p>@Pizza.Description</p>
       @* <img src="@Pizza.ImageUrl" alt="Alternate Text" /> *@
    </div>
</div>

@code {
    [Parameter]
    public required Pizza Pizza { get; set;}
}
